name: SonarCloud

on:
  push:
    branches: [ main, test-frontend, test-backend ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }     # historique nécessaire à Sonar
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
      - name: Build + Sonar (Maven)
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B clean verify \
            org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -DskipTests \
            -Dsonar.projectKey=<TON_PROJECT_KEY> \
            -Dsonar.organization=<TON_ORG> \
            -Dsonar.host.url=https://sonarcloud.io
